.bg-black {
  background-color: $black;
}

.bg-charcoal {
  background-color: $charcoal;
}

.bg-gray {
  background-color: $gray;
}

.bg-silver {
  background-color: $silver;
}

.bg-white {
  background-color: $white;
}
