* {
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clear:after {
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
   justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.first {
  order: 1;
}

.second {
  order: 2;
}

.third {
  order: 3;
}

.nth {
  order: 99;
}

.first-neg {
  order: -1;
}

@media (min-width: $x-small){
  
  .left-xs {
    float: left;
  }
  
  .right-xs  {
    float: right;
  }
  
  .center-xs  {
    margin-left: auto;
    margin-right: auto;
  }
  
  .clear-xs :after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }
  
  .block-xs  {
    display: block;
  }
  
  .inline-xs  {
    display: inline;
  }
  
  .inline-block-xs  {
    display: inline-block;
  }
  
  .hide-xs  {
    display: none;
  }

  .flex-xs {
    display: flex;
  }
  
  .align-start-xs {
    align-items: flex-start;
  }
  
  .align-center-xs {
    align-items: center;
  }
  
  .align-end-xs {
    align-items: flex-end;
  }
  
  .align-stretch-xs {
    align-items: center;
  }
  
  .justify-start-xs {
    justify-content: flex-start;
  }
  
  .justify-center-xs {
    justify-content: center;
  }
  
  .justify-end-xs {
    justify-content: end;
  }
  
  .justify-around-xs {
    justify-content: space-around;
  }
  
  .justify-between-xs {
    justify-content: space-between;
  }
  
  .flex-wrap-xs {
    flex-wrap: wrap;
  }
  
  .flex-nowrap-xs {
    flex-wrap: nowrap;
  }
  
  .flex-col-xs {
    flex-direction: column;
  }

  .flex-row-xs {
    flex-direction: row;
  }
  
  .first-xs {
    order: 1;
  }
  
  .second-xs {
    order: 2;
  }
  
  .third-xs {
    order: 3;
  }
  
  .nth-xs {
    order: 99;
  }
  
  .first-neg-xs {
    order: -1;
  }

}

@media (min-width: $small){
  
  .left-sm {
    float: left;
  }
  
  .right-sm  {
    float: right;
  }
  
  .center-sm  {
    margin-left: auto;
    margin-right: auto;
  }
  
  .clear-sm :after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }
  
  .block-sm  {
    display: block;
  }
  
  .inline-sm  {
    display: inline;
  }
  
  .inline-block-sm  {
    display: inline-block;
  }
  
  .hide-sm  {
    display: none;
  }

  .flex-sm {
    display: flex;
  }
  
  .align-start-sm {
    align-items: flex-start;
  }
  
  .align-center-sm {
    align-items: center;
  }
  
  .align-end-sm {
    align-items: flex-end;
  }
  
  .align-stretch-sm {
    align-items: center;
  }
  
  .justify-start-sm {
    justify-content: flex-start;
  }
  
  .justify-center-sm {
    justify-content: center;
  }
  
  .justify-end-sm {
    justify-content: end;
  }
  
  .justify-around-sm {
    justify-content: space-around;
  }
  
  .justify-between-sm {
    justify-content: space-between;
  }
  
  .flex-wrap-sm {
    flex-wrap: wrap;
  }
  
  .flex-nowrap-sm {
    flex-wrap: nowrap;
  }
  
  .flex-col-sm {
    flex-direction: column;
  }

  .flex-row-sm {
    flex-direction: row;
  }
  
  .first-sm {
    order: 1;
  }
  
  .second-sm {
    order: 2;
  }
  
  .third-sm {
    order: 3;
  }
  
  .nth-sm {
    order: 99;
  }
  
  .first-neg-sm {
    order: -1;
  }


}

@media (min-width: $medium){
  
  .left-md {
    float: left;
  }
  
  .right-md  {
    float: right;
  }
  
  .center-md  {
    margin-left: auto;
    margin-right: auto;
  }
  
  .clear-md :after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }
  
  .block-md  {
    display: block;
  }
  
  .inline-md  {
    display: inline;
  }
  
  .inline-block-md  {
    display: inline-block;
  }
  
  .hide-md  {
    display: none;
  }

  .flex-md {
    display: flex;
  }
  
  .align-start-md {
    align-items: flex-start;
  }
  
  .align-center-md {
    align-items: center;
  }
  
  .align-end-md {
    align-items: flex-end;
  }
  
  .align-stretch-md {
    align-items: center;
  }
  
  .justify-start-md {
    justify-content: flex-start;
  }
  
  .justify-center-md {
    justify-content: center;
  }
  
  .justify-end-md {
    justify-content: end;
  }
  
  .justify-around-md {
    justify-content: space-around;
  }
  
  .justify-between-md {
    justify-content: space-between;
  }
  
  .flex-wrap-md {
    flex-wrap: wrap;
  }
  
  .flex-nowrap-md {
    flex-wrap: nowrap;
  }
  
  .flex-col-md {
    flex-direction: column;
  }
 
  .flex-row-md {
    flex-direction: row;
  }
 
  .first-md {
    order: 1;
  }
  
  .second-md {
    order: 2;
  }
  
  .third-md {
    order: 3;
  }
  
  .nth-md {
    order: 99;
  }
  
  .first-neg-md {
    order: -1;
  }

}

@media (min-width: $large){
  
  .left-lg {
    float: left;
  }
  
  .right-lg  {
    float: right;
  }
  
  .center-lg  {
    margin-left: auto;
    margin-right: auto;
  }
  
  .clear-lg :after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }
  
  .block-lg  {
    display: block;
  }
  
  .inline-lg  {
    display: inline;
  }
  
  .inline-block-lg  {
    display: inline-block;
  }
  
  .hide-lg  {
    display: none;
  }

  .flex-lg {
    display: flex;
  }
  
  .align-start-lg {
    align-items: flex-start;
  }
  
  .align-center-lg {
    align-items: center;
  }
  
  .align-end-lg {
    align-items: flex-end;
  }
  
  .align-stretch-lg {
    align-items: center;
  }
  
  .justify-start-lg {
    justify-content: flex-start;
  }
  
  .justify-center-lg {
    justify-content: center;
  }
  
  .justify-end-lg {
    justify-content: end;
  }
  
  .justify-around-lg {
    justify-content: space-around;
  }
  
  .justify-between-lg {
    justify-content: space-between;
  }
  
  .flex-wrap-lg {
    flex-wrap: wrap;
  }
  
  .flex-nowrap-lg {
    flex-wrap: nowrap;
  }
  
  .flex-col-lg {
    flex-direction: column;
  }
 
  .flex-row-lg {
    flex-direction: row;
  }
 
  .first-lg {
    order: 1;
  }
  
  .second-lg {
    order: 2;
  }
  
  .third-lg {
    order: 3;
  }
  
  .nth-lg {
    order: 99;
  }
  
  .first-neg-lg {
    order: -1;
  }

}

@media (min-width: $x-large){
  
  .left-xl {
    float: left;
  }
  
  .right-xl  {
    float: right;
  }
  
  .center-xl  {
    margin-left: auto;
    margin-right: auto;
  }
  
  .clear-xl :after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
  }
  
  .block-xl  {
    display: block;
  }
  
  .inline-xl  {
    display: inline;
  }
  
  .inline-block-xl  {
    display: inline-block;
  }
  
  .hide-xl  {
    display: none;
  }

  .flex-xl {
    display: flex;
  }
  
  .align-start-xl {
    align-items: flex-start;
  }
  
  .align-center-xl {
    align-items: center;
  }
  
  .align-end-xl {
    align-items: flex-end;
  }
  
  .align-stretch-xl {
    align-items: center;
  }
  
  .justify-start-xl {
    justify-content: flex-start;
  }
  
  .justify-center-xl {
    justify-content: center;
  }
  
  .justify-end-xl {
    justify-content: end;
  }
  
  .justify-around-xl {
    justify-content: space-around;
  }
  
  .justify-between-xl {
    justify-content: space-between;
  }
  
  .flex-wrap-xl {
    flex-wrap: wrap;
  }
  
  .flex-nowrap-xl {
    flex-wrap: nowrap;
  }
  
  .flex-col-xl {
    flex-direction: column;
  }
 
  .flex-row-xl {
    flex-direction: row;
  }
 
  .first-xl {
    order: 1;
  }
  
  .second-xl {
    order: 2;
  }
  
  .third-xl {
    order: 3;
  }
  
  .nth-xl {
    order: 99;
  }
  
  .first-neg-xl {
    order: -1;
  }

}
