.one-fifth {
  width: 20%;
}

.one-quarter {
  width: 25%;
}

.one-third {
  width: 33.33%;
}

.two-fifths {
  width: 40%;
}

.one-half {
  width: 50%;
}

.three-fifths {
  width: 60%;
}

.two-thirds {
  width: 66.67%;
}

.three-quarters {
  width: 75%;
}

.four-fifths {
  width: 80%;
}

.whole {
  width: 100%;
}

.max-one-fifth {
  max-width: 20%;
}

.max-one-quarter {
  max-width: 25%;
}

.max-one-third {
  max-width: 33.33%;
}

.max-two-fifths {
  max-width: 40%;
}

.max-one-half {
  max-width: 50%;
}

.max-three-fifths {
  max-width: 60%;
}

.max-two-thirds {
  max-width: 66.67%;
}

.max-three-quarters {
  max-width: 75%;
}

.max-four-fifths {
  max-width: 80%;
}

.max-whole {
  max-width: 100%;
}

