$x-small: 360px;
$small: 512px;
$medium: 768px;
$large: 1024px;
$x-large: 1200px;

$font-sans:-apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$font-serif: Georgia, times, serif;
